*{
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555555;
}

h1{
    text-align:center;
	color: #555555;
}

table{
	width:  1000px;
	margin: 30px auto;
	/* table-layout: fixed; for text wrapping */
}

table th{
	padding: 10px 5px;
	background-color: #a4cdea;
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 100%;
	text-align: center;
	/* background-color: #fff; */
}

#td-wrap{ /* for text wrapping */
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden; 
}

tr:nth-child(even) {
	background-color: rgb(224, 232, 232);
}

table img{
	width:  100%;
}

.tableFixHead {
	overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
	height: 95vh; /* s.t. scroll bar is visible */
  }
  .tableFixHead thead th {
	position: sticky; /* make the table heads sticky */
	top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }
  table {
	border-collapse: collapse; /* make the table borders collapse to each other */
	width: 100%;
  }
  th,
  td {
	padding: 8px 16px;
	border: 1px solid #ccc;
  }